


<div class="container">
	<h1 style="padding: 2em 0em 2em 0em">Process Change Visualizer</h1>

	<!-- vis-netowrk-->
	<div id="mynetwork" class="networkContainer" style="width: 30em; height: 20em;"></div>

	<!-- bpmn js -->
	<div id="myBpmnNetwork" class="networkContainer" style="width: 40em; height: 30em;"></div>

	<!-- our SVG test -->
	<svg xmlns="http://www.w3.org/2000/svg" class="networkContainer" id="mySVG" width="40em" height="30em">
		<defs>
		  
		</defs>
			  
		<g>
		</g>
	</svg>
</div>