<section id="title">
  <div class="container-fluid title-container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12"></div>
    </div>
  </div>
</section>

<div class="container">
  <h1 style="padding: 2em 0em 2em 0em" class="gradient-font">
    Process Change <br class="app-heading" />
    Visualizer
  </h1>

  <div class="container-fluid">
    <div class="row align-items-start">
      <div class="col">
        <h3 class="gradient-font">Process Before</h3>
        <input
          class="form-control is-invalid"
          type="file"
          id="processBeforeFile"
          style="max-width: 80%"
        />
        <div class="valid-feedback gradient-font">Valid BPMN 2.0 format.</div>
        <div class="invalid-feedback">Sorry, not BPMN 2.0.</div>
      </div>

      <div class="col">
        <h3 class="gradient-font">Process After</h3>
        <div class="form-group">
          <input
            class="form-control is-invalid"
            type="file"
            id="processAfterFile"
            style="max-width: 80%"
          />
          <div class="valid-feedback gradient-font">Valid BPMN 2.0 format.</div>
          <div class="invalid-feedback">Sorry, not BPMN 2.0.</div>
        </div>
      </div>
    </div>
  </div>


  <!-- our 2 SVGs for processes -->
  <div class="container feature-container-app">
    <div class="row align-items-start">

      <div class="col">
        <!-- SVG's must remain - everything else can be changed  -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          class="networkContainer"
          id="mySVGBefore"
          width="27em"
          height="20em"
        ></svg>
      </div>

      <div class="col">
        <!-- SVG's must remain - everything else can be changed  -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          class="networkContainer"
          id="mySVGAfter"
          width="27em"
          height="20em"
        ></svg>
      </div>
    </div>
  </div>

  <div class="feature-container-app-button">
    <button
      type="button"
      (click)="calculateChangesAndVisualize()"
      class="btn btn-primary btn-lg btn-custom"
    >
      <span
        *ngIf="loading === true"
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      Generate Change Visualization
    </button>
  </div>

  <div id="change-vis-lower-section">
    <div class="feature-container-app">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        class="networkContainer"
        id="mySVGFinal"
        width="100%"
        height="40em"
      ></svg>
    </div>

    <div class="row align-items-start">
      <div class="col">
        <div class="feature-container-app-button">
          <button
            type="button"
            (click)="exportAsSVG()"
            class="btn btn-primary btn-lg btn-custom"
            style="margin-bottom: 3em"
          >
            Export Model as .svg
          </button>
        </div>
      </div>
      <div class="col">
        <div class="feature-container-app-button">
          <button
            type="button"
            (click)="exportAsDOT()"
            class="btn btn-primary btn-lg btn-custom"
            style="margin-bottom: 3em"
          >
            Export Model as .dot
          </button>
        </div>
      </div>
      <div class="col">
        <div class="feature-container-app-button">
          <button
            type="button"
            (click)="exportDelta()"
            class="btn btn-primary btn-lg btn-custom"
            style="margin-bottom: 3em"
          >
            Export Delta as .json
          </button>
        </div>
      </div>
  </div>
</div>
