<nav class="navbar navbar-expand-lg gradient-font navbar-background">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Change Viz</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/home']"
            >Home
            <i class="fas fa-home"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/change-vis']"
            >Change Visualizer
            <i class="fas fa-search"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>

<footer id="footer">
  <div class="container-fluid footer-container gradient-font">
    <p>Get in touch!</p>
    <i class="social-icon fab fa-linkedin-in fa-1.5x"></i>
    <i class="social-icon fab fa-twitter fa-1.5x"></i>
    <i class="social-icon fab fa-instagram fa-1.5x"></i>
    <i class="social-icon fas fa-envelope fa-1.5x"></i>
    <p>© Copyright</p>
  </div>
</footer>
