p {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Comfortaa", cursive;
}

button {
  font-family: "Roboto", sans-serif !important;
}
/* change vis component */
.networkContainer {
  margin: 1em 1em 8em 1em;
  border: 1px solid lightgray;
}

/* Styles for the Main page */

/* Navbar */
.navbar-background {
  background-color: white;
}
.gradient-font {
  background: linear-gradient(to top left, #28b487 0%, #7dd56f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-i-font,
.navbar-brand {
  font-family: "Comfortaa", cursive;
}

/* Title */
#title {
  background: linear-gradient(to top left, #28b487 0%, #7dd56f 100%);
}

.title-heading {
  font-family: "Comfortaa", cursive;
  color: white;
  font-weight: 900;
  font-size: 3.5rem;
  padding-left: 20%;
}

.title-subheading {
  color: white;
  margin-top: 5%;
  padding-left: 20%;
  margin-bottom: 15%;
  font-size: 1.5rem;
  font-weight: 800;
}

.title-container {
  padding: 5% 15%;
}

.title-image {
  transform: rotate(25deg);
  position: absolute;
  width: 55%;
  left: 40%;
}

#features {
  padding-top: 10%;
  padding-left: 15%;
  padding-right: 15%;
  position: relative;
  z-index: 1;
  margin-bottom: 100px;
}

.feature-box {
  text-align: center;
}
.feature-icon {
  padding-bottom: 3rem;
  color: linear-gradient(#28b487, #7dd56f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feature-text {
  text-align: center;
}

.giant-number-left {
  font-family: Holtwood One SC, serif;
  font-size: 300px;
  text-align: center;
}

.inst-text-2 {
  border-style: solid;
  border-radius: 15px 50px 30px;
  background-color: #fff;
  padding: 5% 5%;
  font-size: 20px;
  border-color: #fff;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.3),
    0px 4px 4px 0 rgba(0, 0, 0, 0.15);
  align-self: center;
  text-align: center;
  right: 50px;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 25px;
}
.ready {
  align-self: center;
}

.btn-custom {
  background: linear-gradient(to top left, #28b487 0%, #7dd56f 100%);
  border-radius: 15px !important;
}

#footer {
  padding-top: 3.5%;
}

.footer-container {
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

.app-heading {
  display: none;
}
/* --------------------- APP Customizations  ---------------------  */
.feature-container-app-button {
  display: flex;
  justify-content: center;
}

/* --------------------- Media Querries - Landing Page  ---------------------  */

@media (max-width: 990px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    width: 100%;
    transform: rotate(15);
  }
  .title-heading {
    padding-left: 5%;
  }

  .title-subheading {
    padding-left: 5%;
  }
}

@media (min-width: 1110px) {
  .feature-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 40px;
    gap: 50px;
    padding-left: 15%;
    padding-right: 15%;
  }

  .feature-container-r {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 40px;
    gap: 50px;
    padding-left: 15%;
    padding-right: 15%;
  }
  .flex-container {
    display: flex;
    justify-content: center;
  }
  .ready {
    align-self: center;
  }
}

/* --------------------- Media Querries - App Page  ---------------------  */

@media (max-width: 1200px) {
  .app-heading {
    display: block;
  }
  #mySVGFinal {
    width: 20em;
    height: 20em;
  }
  #mySVGBefore {
    width: 20em;
    height: 20em;
  }

  #mySVGAfter {
    width: 20em;
    height: 20em;
  }
  .feature-container-app {
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
  }
} ;
