/* You can add global styles to this file, and also import other style files */

.networkContainer {
  margin: 1em 1em 10em 1em;
  border: 1px solid lightgray;
}

.highlight-overlay {
  background-color: green; /* color elements as green */
  opacity: 0.4;
  pointer-events: none; /* no pointer events, allows clicking through onto the element */
}

/* Styles for the Main page */

/* Navbar */
.navbar-background {
  background-color: white;
}
.gradient-font {
  background: linear-gradient(to top left, #28b487 0%, #7dd56f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Title */
#title {
  background: linear-gradient(to top left, #28b487 0%, #7dd56f 100%);
}

.title-heading {
  font-family: "Comfortaa", cursive;
  color: white;
  font-weight: 900;
  font-size: 3.5rem;
  padding-left: 20%;
}

.title-subheading {
  color: white;
  margin-top: 5%;
  padding-left: 20%;
  margin-bottom: 15%;
  font-size: 1.5rem;
  font-weight: 800;
}

.title-container {
  padding: 5% 15%;
}

.title-image {
  transform: rotate(25deg);
  position: absolute;
  width: 55%;
  left: 40%;
}

#features {
  padding: 10% 15%;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
}
.feature-icon {
  padding-bottom: 3rem;
  color: linear-gradient(#28b487, #7dd56f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#footer {
  padding-top: 3.5%;
}

.footer-container {
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 990px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    width: 100%;
    transform: rotate(15);
  }
  .title-heading {
    padding-left: 5%;
  }

  .title-subheading {
    padding-left: 5%;
  }
}
