<section id="title">
  <div class="container-fluid title-container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <h1 class="title-heading">Change Viz!</h1>
        <h3 class="title-subheading">Visualize Process Changes on the Fly</h3>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <img
          class="title-image"
          src="assets/css/processmodel.svg"
          alt="Process-mockup"
        />
      </div>
    </div>
  </div>
</section>
<section id="features">
  <div class="row">
    <div class="feature-box col-lg-4 gradient-font">
      <i class="fas fa-coins feature-icon fa-5x"></i>
      <h3>100% Free!</h3>
    </div>
    <div class="feature-box col-lg-4 gradient-font">
      <i class="fas fa-check-double feature-icon fa-5x"></i>
      <h3>Easy To Use!</h3>
    </div>
    <div class="feature-box col-lg-4 gradient-font">
      <i class="fas fa-heart feature-icon fa-5x"></i>
      <h3>Built with Love!</h3>
    </div>
  </div>
</section>

<h3>This is just a simple text line on home.component.html!</h3>
Just the content on the home component if we would need something here.<br />
This is how the routing with different components works.
<br />
