<section id="title">
  <div class="container-fluid title-container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <h1 class="title-heading">Change Viz!</h1>
        <h3 class="title-subheading">Visualize Process Changes on the Fly</h3>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <img
          class="title-image"
          src="assets/css/processmodel.svg"
          alt="Process-mockup"
        />
      </div>
    </div>
  </div>
</section>
<section id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-4 gradient-font">
        <i class="fas fa-coins feature-icon fa-5x"></i>
        <h3>100% Free!</h3>
        <p class="feature text">
          Visualize the changes of your process-models 100% for free
        </p>
      </div>
      <div class="feature-box col-lg-4 gradient-font">
        <i class="fas fa-check-double feature-icon fa-5x"></i>
        <h3>Easy To Use!</h3>
        <p class="feature text">
          If you can upload files than you can use our platform - no further
          expertise needed
        </p>
      </div>
      <div class="feature-box col-lg-4 gradient-font">
        <i class="fas fa-heart feature-icon fa-5x"></i>
        <h3>Built with Love!</h3>
        <p class="feature text">
          The app was built with the user in mind - only the user
        </p>
      </div>
    </div>
  </div>
</section>
<section id="instructions">
  <div class="container-fluid">
    <div class="flex-container">
      <h2 class="gradient-font">Intructions</h2>
    </div>
    <div class="feature-container">
      <p class="giant-number-left gradient-font">1</p>
      <p class="inst-text-2 flex-item gradient-font">
        Upload an XML File that contains all the necessary Information about how
        the process (that was changed afterwards) was strucutured before the
        changes were applied
      </p>
    </div>
    <div class="feature-container-r">
      <p class="giant-number-left gradient-font">2</p>
      <p class="inst-text-2 flex-item gradient-font">
        It does not get much harder after the first step ;-) Just repeat the
        same process by uploading an XML file of the process AFTER the changes
        were applied
      </p>
    </div>
    <div class="feature-container">
      <p class="giant-number-left gradient-font flex-item-n">3</p>
      <p class="inst-text-2 gradient-font">
        Click on the "Generate Change Visualization" Button in order to get your
        Change-Model. If you wish to export your Change Model you can do so by
        hitting the "Export To Dot" Button.
      </p>
    </div>
    <div class="flex-container">
      <h3 class="gradient-font ready">Ready when you are!</h3>
    </div>
    <div class="flex-container">
      <button
        type="button"
        (click)="navigateToChangeVisComponent()"
        class="btn btn-primary btn-lg btn-custom"
      >
        Start Visualizing!
      </button>
    </div>
  </div>
</section>
